<!DOCTYPE HTML>
<html>
<head>
    <script src="http://d3js.org/d3.v2.js"></script> 
    <!--<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>-->

    <style type="text/css" media="screen">
        .slider-width {
            width: 800px;
        }
    </style>

</head>



<body>

    <div id="viz" style="height:320px;"></div>


    <div class = "container">
      <form  action="/" method="GET">

        <div class="form-group">
        <label for="date">Pick Date:</label>
         <!--<input class="slider-width" type="range" id="inputdate" name='inputdate' min="5919" max="6230" value="{{inputdate}}" step="1" />  -->
         <!-- <input type="int" id="inputdate" name='inputdate' placeholder="5960 "> -->
        <input id="inputdate" name='inputdate' type="date" name="bdaytime" value="{{inputdate}}">
        </div>
          

        <div>
          <button type="submit" class="btn btn-default btn-lg">Go!</button>
        </div>


      </form>
    </div>


    <h2>Topic Summary:</h2>
    <div id="summWin"> </div>


    <script type="text/javascript">

 
    var color = d3.scale.quantize()
                  .range(["#156b87", "#876315", "#543510", "#872815"])
                  .domain([0, 1]);

    // Show the information about a particular point.
    var display_summary = function (d) {
        d3.select("#summWin").html( d.summary )
        d3.select(this).style("stroke-width", 3);
        d3.select(this).style("font-weight", "bold");
    };


   // handle incoming data
    var callback = function(data) {

        var w = 600, h = 400;
        var sampleSVG = d3.select("#viz")
            .append("svg")
            .attr("width", w)
            .attr("height", h)
            .append("svg:g")
            .attr("transform", "translate(10, 50)");

        var bar_dx=40, bar_dy=30, bar_dist=35
        sampleSVG.selectAll("rect")
            .data(data)
            .enter().append("rect")
            .style("stroke", "black")
            .style("stroke-width", 1)
            .attr("x", function(d){return 0;})
            .attr("y", function(d,i){return bar_dist*i;})
            .attr("width", function(d){return 0;})
            .attr("height", function(d){return bar_dy;})
            .style("fill", function (d) { return d.color; })
            .on("mouseover", display_summary)
            .on("mouseout", function(){d3.select(this).style("stroke-width", 1);})
            .transition().duration(1000)
            .attr("width", function(d){return bar_dx*d.area;})

        sampleSVG.selectAll("text")
            .data(data)
            .enter().append("text")
            .attr("x", function(d){return 10;})
            .attr("y", function(d,i){return bar_dist*i + bar_dy*0.7;})
            .attr("text-anchor", "left")
            .style("font-size", 18)
            .style("font-weigth", "normal")
            .on("mouseover", display_summary)
            .on("mouseout", function(){d3.select(this).style("font-weight", "normal");})
            .transition().delay(1000)
            .text(function(d){return d.keywords;})


    }


    {% if (("/gdata?inputdate={{inputdate}}").length == 0) %}
        d3.select("#summWin").html( "oops" )
    {% else %}
        d3.json("/gdata?inputdate={{inputdate}}", callback);
    {% endif %}


    </script>
</body>

</html>